.game {
	position: relative;
	margin: 10px auto;
	padding: 0;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

#bug-test {
	position: relative;
	display: block;
	margin: 10px auto;
	padding: 0;
	width: 200px;
}

#game-setting th, #game-setting td {
	padding: 4px;
}

.game-setting-title {
	font-weight: bold;
	margin-left: 20px;
	margin-right: 40px;
}

.field {
	display: inline-block;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 50px;
	vertical-align: top;
	box-sizing: border-box;
}

.field .object {
	left: 1px;
	top: 1px;
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

.field .point {
	right: 0px;
	bottom: 0px;
	margin-top: -50px;
	margin-left: 2px;
	font-weight: bold;
}

.btn.heroku {
	background: #5B4892;
	color: #FFF;
	margin: 5px;
}

.btn.salesforce {
	background: #00A0DF;
	color: #FFF;
	margin: 5px;
}

.player {
	position: absolute;
	height: 50px;
	width: 50px;
	padding:1px;
}
.player img {
	width: 48px;
	height: 48px;
}

#conflict {
	position: absolute;
	height: 50px;
	width: 50px;
	padding:1px;
	box-sizing: border-box;
	z-index: 10;
}

.workspace {
	position: relative;
	width: 100%;
}

.side-icon {
	width: 48px;
	height: 48px;
	margin-bottom: 10px;
}

.btn-test {
	margin-bottom: 10px;
}

.salesforce-side, .heroku-side {
	width: 220px;
	margin: 10px;
}

#salesforce-point, #heroku-point {
	font-size: 16pt;
	font-weight: bold;
	margin-right: 2px;
}

.point-holder {
	float: right;
}

#salesforce-editor, #heroku-editor {
	width: 100%;
}

.CodeMirror {
	width: 220px;
	border: solid 1px #000;
}

.editor-readonly {
	background-color: #d3d3d3;
}

.salesforce-buttons {
	list-style: none;
	margin-top: 10px;
	padding: 0;
}

.salesforce-buttons li {
	list-style: none;
	margin-top: 5px;
}

#salesforce-up, #salesforce-right, #salesforce-down {
	margin-left: 45px;
}

#salesforce-undo, #salesforce-del, #salesforce-ins {
	width: 60px;
}

#salesforce-undo, #salesforce-ins {
	margin-left: 50px;
}

#salesforce-del {
	margin-left: 5px;
}

.field-header {
	margin: 2px auto;
	width: 200px;
}

#game-start {
	width: 200px;
}

.header-label {
	width: 200px;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}

.illust-holder {
	width: 100%;
}

.illust {
	padding: 0;
	display: block;
	margin: 10px auto;
	width: 512px;
}
.illust li{
	list-style:none;
	margin: 10px;
}
.illust img {
	width: 512px;
	height: 384px;
	border: 1px solid;
}

img.salesforce, img.heroku {
	display: inline-block;
	padding: 20px;
}
.animateDialog-default {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -140px;
	margin-top: -25px;
	min-height: 50px; 
	width: 280px;
	border: solid 1;
	border-radius: 4px;
	color: #FFF;
	background-color: #00A0DF;
	z-index: 10;
}

.animateDialog-default .message {
  display: block;
  font-size: 24px;
  text-align: center;
  margin: 10px auto;
}

@keyframes inout {
  0%    { transform: scale(0, 0); }
  40%   { transform: scale(4, 4); }
  80%   { transform: scale(1, 1); }
  100%  { transform: scale(1, 1); }
}
@-webkit-keyframes inout { /* Safari & Chrome */
  0%   { -webkit-transform: scale(0, 0); }
  40%  { -webkit-transform: scale(4, 4); }
  80%  { -webkit-transform: scale(1, 1); }
  100% { -webkit-transform: scale(1, 1); }
}

@keyframes drop {
  0% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  5% {
    transform: scale(1.2, 1.2);
  }
  10% {
    transform: scale(0.9, 0.9);
  }
  100% {
    opacity: 0;
    transform: translate(0px, 300px);
  }
}
@-webkit-keyframes drop {
  0% {
    opacity: 1;
    -webkit-transform: translate(0px, 0px);
  }
  5% {
    -webkit-transform: scale(1.2, 1.2);
  }
  10% {
    -webkit-transform: scale(0.9, 0.9);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0px, 300px);
  }
}