.game {
	position: relative;
	margin: 10px auto;
	padding: 0;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

#game-setting th, #game-setting td {
	padding: 4px;
}

.game-setting-title {
	font-weight: bold;
	margin-left: 20px;
	margin-right: 40px;
}

.field {
	display: inline-block;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 50px;
	vertical-align: top;
	box-sizing: border-box;
}

.field .object {
	position absolute;
	left: 1px;
	top: 1px;
	padding: 0;
	margin: 0;
	border: 0;
	width: 100%;
	height: 100%;
}

.btn.heroku {
	background: #5B4892;
	color: #FFF;
	margin: 5px;
}

.btn.salesforce {
	background: #00A0DF;
	color: #FFF;
	margin: 5px;
}

.player {
	position: absolute;
	height: 50px;
	width: 50px;
	padding:1px;
}
.player img {
	width: 48px;
	height: 48px;
}

.workspace {
	position: relative;
	width: 100%;
}

.side-icon {
	width: 48px;
	height: 48px;
	margin-bottom: 10px;
}

.btn-test {
	margin-bottom: 10px;
}

.salesforce-side, .heroku-side {
	width: 220px;
	margin: 10px;
}

#salesforce-editor, #heroku-editor {
	width: 100%;
}

.CodeMirror {
	width: 220px;
	border: solid 1px #000;
}

.editor-readonly {
	background-color: #d3d3d3;
}

.salesforce-buttons {
	list-style: none;
	margin-top: 10px;
	padding: 0;
}

.salesforce-buttons li {
	list-style: none;
	margin-top: 5px;
}

#salesforce-up, #salesforce-right, #salesforce-down {
	margin-left: 45px;
}

#salesforce-undo, #salesforce-del, #salesforce-ins {
	width: 60px;
}

#salesforce-undo, #salesforce-ins {
	margin-left: 50px;
}

#salesforce-del {
	margin-left: 5px;
}

.field-header {
	margin: 2px auto;
	width: 200px;
}

#game-start {
	width: 200px;
}

#stopwatch {
	width: 200px;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
}