@(gameId: String, sessionId: String)

@main {
<link rel="stylesheet" href="/assets/javascripts/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="/assets/javascripts/codemirror/addon/hint/show-hint.css">
<script src="/assets/javascripts/codemirror/lib/codemirror.js"></script>
<script src="/assets/javascripts/codemirror/mode/javascript/javascript.js"></script>
<script src="/assets/javascripts/codemirror/addon/selection/active-line.js"></script>
<script src="/assets/javascripts/codemirror/addon/hint/show-hint.js"></script>
<script src="/assets/javascripts/roomframework/roomframework.js"></script>

<h1>@Messages("title")</h1>
<div id="game-setting">
	<div>
		<span class="game-setting-title">@Messages("gameSetting")</span>
		<button id="game-gen" class="btn btn-info btn-sm" disabled>@Messages("reset")</button>
		<button id="toggle-setting" class="btn btn-sm">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
		</button>
	</div>
	<div id="game-setting-table" style="display:none;">
		<table>
			<tr>
				<th>@Messages("fieldWidth")</th><td><input type="number" id="fieldWidth" value="8" disabled/></td>
			</tr>
			<tr>
				<th>@Messages("fieldHeight")</th><td><input type="number" id="fieldHeight" value="8" disabled/></td>
			</tr>
			<tr>
				<th>@Messages("pointCount")</th><td><input type="number" id="pointCount" value="10" disabled/></td>
			</tr>
			<tr>
				<th>@Messages("wallCount")</th><td><input type="number" id="wallCount" value="10" disabled/></td>
			</tr>
			<tr>
				<th>@Messages("codingTime")</th><td><input type="number" id="codingTime" value="30" disabled/></td>
			</tr>
			<tr>
				<th>@Messages("gameTime")</th><td><input type="number" id="gameTime" value="30" disabled/></td>
			</tr>
			<tr>
				<th>@Messages("turnTime")</th><td><input type="number" id="turnTime" value="700" disabled/></td>
			</tr>
		</table>
	</div>
</div>
<div class="workspace">
	<div class="field-header">
		<button id="game-start" class="btn btn-info" disabled>@Messages("start")</button>
		<div id="replay-holder" style="display:none;">
			<button id="replay" class="btn btn-info">@Messages("replay")</button>
			<button id="play-again" class="btn btn-info">@Messages("playAgain")</button>
		</div>
		<div id="stopwatch" class="header-label" style="display:none;"></div>
		<div id="turnlabel" class="header-label" style="display:none;"></div>
	</div>
	<div class="salesforce-side pull-left">
		<div>
			<img src="/assets/images/salesforce.png" class="side-icon" id="salesforce-entry-icon"/>
			<button id="salesforce-entry" class="btn salesforce" disabled>@Messages("entry")</button>
		</div>
		<div>
			<button id="salesforce-test" class="btn btn-success btn-test">@Messages("test")</button>
			<span class="point-holder"><span id="salesforce-point">0</span>Point</span>
		</div>
		<textarea id="salesforce-editor" rows="20"></textarea>
		<div>
			<ul class="salesforce-buttons" id="salesforce-buttons">
				<li>
					<button id="salesforce-up" class="btn">
						<span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span>
					</button>
					<button id="salesforce-undo" class="btn">Undo</button>
				</li>
				<li>
					<button id="salesforce-left" class="btn">
						<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
					</button>
					<button id="salesforce-right" class="btn">
						<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
					</button>
					<button id="salesforce-del" class="btn">DEL</button>
				</li>
				<li>
					<button id="salesforce-down" class="btn">
						<span class="glyphicon glyphicon-circle-arrow-down" aria-hidden="true"></span>
					</button>
					<button id="salesforce-ins" class="btn btn-success">INS</button>
				</li>
			</ul>
		</div>
	</div>
	<div class="heroku-side pull-right">
		<div>
			<img src="/assets/images/heroku.png" class="side-icon" id="heroku-entry-icon"/>
			<button id="heroku-entry" class="btn heroku" disabled>@Messages("entry")</button>
		</div>
		<div>
			<button id="heroku-test" class="btn btn-success btn-test">@Messages("test")</button>
			<span class="point-holder"><span id="heroku-point">0</span>Point</span>
		</div>
		<textarea id="heroku-editor" rows="20"></textarea>
	</div>
	<div id="game" class="game">
		<img src="/assets/images/conflict.png" id="conflict" style="display:none;"/>
	</div>
	<button id="bug-test" class="btn btn-success btn-test">@Messages("bugTest")</button>
</div>
<div id="message-dialog" class="animateDialog-default" style="display:none;">
	<img src="/assets/images/salesforce.png" class="salesforce" style="display:none;"/>
	<img src="/assets/images/heroku.png" class="heroku" style="display:none;"/>
	<span class="message"></span>
</div>
<div class="modal fade" id="result-dialog" tabindex="-1" role="dialog" aria-labelledby="result-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="result-title">New message</h4>
      </div>
      <div class="modal-body">
      	<img/>
      	<div class="result-detail"></div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/javascripts/app.js"></script>
<script>
$(function() {
	var app = new pg.Application("@gameId", "@sessionId");
});
</script>
}
