@(host: String, id: String)

@main {
<h1>@Messages("title")</h1>
<div>
<p>@Messages("pathInputMessage")</p>
http://@host/game/ <input id="gameId" size="40"/>
<button class="btn primary" id="btnGo">@Messages("go")</button>
</div>
<div class="illust-holder">
	<ul class="illust">
		<li><img src="/assets/images/illust/01.png"/></li>
		<li><img src="/assets/images/illust/02.png"/></li>
		<li><img src="/assets/images/illust/03.png"/></li>
		<li><img src="/assets/images/illust/04.png"/></li>
		<li><img src="/assets/images/illust/05.png"/></li>
		<li><img src="/assets/images/illust/06.png"/></li>
		<li><img src="/assets/images/illust/07.png"/></li>
		<li><img src="/assets/images/illust/08.png"/></li>
	</ul>
</div>

<script>
$(function() {
	var defaultId = "@id";
	$("#btnGo").click(function() {
		var id = $("#gameId").val() || defaultId;
		location.href = "/game/" + id;
	})
});
</script>
}
