@()
<!DOCTYPE html>
<html>
<head>
	<title>Heroku - We want Tokyo region.</title>
	<meta property="og:site_name" content="Salesforce vs. Heroku"/>
	<meta property="og:title" content="Heroku lose."/>
	<meta property="og:image" content="/assets/images/illust/win-salesforce.png"/>
	<meta property="og:description" content="We want Tokyo region."/>

	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
	<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<h1 class="main-title">Salesforce vs. Heroku</h1>
<div class="index-desc" style="text-align:center;">
	<h2>We want Tokyo region!</h2>
	<a href="https://twitter.com/share" class="twitter-share-button" data-text="We want Tokyo region!" data-size="large" data-hashtags="heroku">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>
<hr>
<div class="illust-holder">
	<ul class="illust">
		<li>
			<p>He said, I can win if Tokyo region is there.</p>
			<img src="/assets/images/illust/win-salesforce.png"/>
		</li>
	</ul>
</div>
</body>
</html>